In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
from datetime import datetime, timedelta

In [2]:
headway_df = pd.read_excel('..\Data\Headway Data, 8-1-2023 to 9-30-2023.xlsx')

In [3]:
headway_df['ROUTE_ABBR'].unique()

array([22, 23,  3,  7, 50, 52, 55, 56], dtype=int64)

In [4]:
headway_df.dtypes

CALENDAR_ID                           int64
SERVICE_ABBR                          int64
ADHERENCE_ID                          int64
DATE                         datetime64[ns]
ROUTE_ABBR                            int64
BLOCK_ABBR                            int64
OPERATOR                              int64
TRIP_ID                               int64
OVERLOAD_ID                           int64
ROUTE_DIRECTION_NAME                 object
TIME_POINT_ABBR                      object
ROUTE_STOP_SEQUENCE                 float64
TRIP_EDGE                             int64
LATITUDE                            float64
LONGITUDE                           float64
SCHEDULED_TIME                       object
ACTUAL_ARRIVAL_TIME                  object
ACTUAL_DEPARTURE_TIME                object
ADHERENCE                           float64
SCHEDULED_HDWY                      float64
ACTUAL_HDWY                         float64
HDWY_DEV                            float64
ADJUSTED_EARLY_COUNT                  int64
ADJUSTED_LATE_COUNT                   int64
ADJUSTED_ONTIME_COUNT                 int64
STOP_CANCELLED                        int64
PREV_SCHED_STOP_CANCELLED           float64
IS_RELIEF                             int64
BLOCK_STOP_ORDER                      int64
DWELL_IN_MINS                       float64
dtype: object

In [5]:
#Create "CORRECTED_TRIP_ID" column combining both date and trip_id
headway_df['CORRECTED_TRIP_ID']=headway_df['DATE'].astype(str)+' - '+headway_df['TRIP_ID'].astype(str)

In [6]:
#Create a new column "ROUTE_NUMBER" that matches the numbers in the original "ROUTE_ABBR" column
headway_df['ROUTE_NUMBER']=headway_df['ROUTE_ABBR']

In [7]:
#Create route_abbr column with route names instead of route numbers
route_name_dict = {22:'BORDEAUX',23:'DICKERSON PIKE', 3:'WEST END', 7:'HILLSBORO', 50:'CHARLOTTE PIKE', 52:'NOLENSVILLE PIKE', 55:'MURFEESBORO PIKE', 56:'GALLATIN PIKE'}
headway_df=headway_df.replace({'ROUTE_ABBR':route_name_dict})

In [8]:
#Replace hour value for all time values 24 and higher (past midnight)
hour_dict = {'24':'00','25':'01','26':'02','27':'03','28':'04','29':'05','30':'06'}
headway_df['SCHEDULED_TIME'].replace(hour_dict)
headway_df['ACTUAL_ARRIVAL_TIME'].replace(hour_dict)
headway_df['ACTUAL_DEPARTURE_TIME'].replace(hour_dict)

headway_df.iloc[100:150,np.r_[3,15:18]]

          DATE       SCHEDULED_TIME  ACTUAL_ARRIVAL_TIME ACTUAL_DEPARTURE_TIME
100 2023-08-01             21:15:00             21:05:04              21:18:11
101 2023-08-01             21:26:00             21:29:44              21:29:44
102 2023-08-01             21:36:00             21:36:16              21:36:16
103 2023-08-01             21:43:00             21:36:16              21:42:02
104 2023-08-01             21:52:00             21:58:48              21:58:48
105 2023-08-01             22:08:00             22:08:33              22:08:33
106 2023-08-01             22:15:00             22:08:33              22:20:02
107 2023-08-01             22:26:00             22:29:46              22:29:46
108 2023-08-01             22:30:00             22:32:55              22:32:55
109 2023-08-01             22:37:00             22:41:23              22:41:23
110 2023-08-01             22:43:00             22:42:11              22:42:11
111 2023-08-01             22:52:00             22:57:21              22:57:21
112 2023-08-01             23:08:00             23:06:47              23:06:47
113 2023-08-01             23:15:00             23:06:47              23:06:47
114 2023-08-01             23:26:00             23:37:44              23:37:44
115 2023-08-01             23:30:00             23:40:29              23:40:29
116 2023-08-01             23:37:00             23:48:09              23:48:09
117 2023-08-01             23:43:00             23:48:09              23:48:09
118 2023-08-01             23:52:00             23:57:25              23:57:25
119 2023-08-01  1900-01-01 00:08:00  1900-01-01 00:04:51   1900-01-01 00:04:51
120 2023-08-01  1900-01-01 00:15:00  1900-01-01 00:04:51   1900-01-01 00:18:44
121 2023-08-01  1900-01-01 00:26:00  1900-01-01 00:28:45   1900-01-01 00:28:45
122 2023-08-01  1900-01-01 00:30:00  1900-01-01 00:31:46   1900-01-01 00:31:46
123 2023-08-01  1900-01-01 00:37:00  1900-01-01 00:39:10   1900-01-01 00:39:10
124 2023-08-01             05:07:00             04:56:58              05:06:03
125 2023-08-01             05:11:00             05:10:57              05:10:57
126 2023-08-01             05:19:00             05:16:58              05:18:59
127 2023-08-01             05:35:00             05:29:42              05:29:42
128 2023-08-01             05:40:00             05:29:42              05:41:05
129 2023-08-01             05:48:00             05:48:57              05:48:57
130 2023-08-01             05:55:00             05:55:40              05:55:40
131 2023-08-01             06:00:00             06:00:08              06:00:08
132 2023-08-01             06:10:00             06:10:37              06:10:37
133 2023-08-01             06:17:00             06:16:49              06:16:49
134 2023-08-01             06:24:00             06:21:57              06:21:57
135 2023-08-01             06:40:00                  NaN                   NaN
136 2023-08-01             06:45:00                  NaN                   NaN
137 2023-08-01             06:55:00                  NaN                   NaN
138 2023-08-01             06:59:00                  NaN                   NaN
139 2023-08-01             07:00:00                  NaN                   NaN
140 2023-08-01             07:10:00                  NaN                   NaN
141 2023-08-01             07:17:00                  NaN                   NaN
142 2023-08-01             07:24:00                  NaN                   NaN
143 2023-08-01             07:40:00                  NaN                   NaN
144 2023-08-01             07:45:00                  NaN                   NaN
145 2023-08-01             07:55:00                  NaN                   NaN
146 2023-08-01             07:59:00                  NaN                   NaN
147 2023-08-01             08:00:00                  NaN                   NaN
148 2023-08-01             08:10:00                  NaN                   NaN
149 2023-08-01             08:17:00                  NaN                   NaN

In [9]:
#Identify rows where time columns have times past midnight and store those row indexes in a list dedicated to each column
sched_day_change_index = []
actual_arrival_day_change_index = []
actual_departure_day_change_index = []
for index, row in headway_df.iterrows():
    if str(row['SCHEDULED_TIME'])[0:4] == '1900':
        sched_day_change_index.append(index)

    if str(row['ACTUAL_ARRIVAL_TIME'])[0:4] == '1900':
        actual_arrival_day_change_index.append(index)

    if str(row['ACTUAL_DEPARTURE_TIME'])[0:4] == '1900':
        actual_departure_day_change_index.append(index)

In [10]:
#Adjust time values in cases past midnight for the 3 time columns
headway_df['SCHEDULED_TIME']=pd.to_datetime(headway_df['SCHEDULED_TIME'].astype(str)).dt.time
headway_df['ACTUAL_ARRIVAL_TIME']=pd.to_datetime(headway_df['ACTUAL_ARRIVAL_TIME'].astype(str)).dt.time
headway_df['ACTUAL_DEPARTURE_TIME']=pd.to_datetime(headway_df['ACTUAL_DEPARTURE_TIME'].astype(str)).dt.time

headway_df['SCHEDULED_TIME'] = headway_df['DATE'].astype(str) + ' ' + headway_df['SCHEDULED_TIME'].astype(str)
headway_df['SCHEDULED_TIME'] = pd.to_datetime(headway_df['SCHEDULED_TIME'])

headway_df['ACTUAL_ARRIVAL_TIME'] = headway_df['DATE'] + pd.to_timedelta(headway_df['ACTUAL_ARRIVAL_TIME'].astype(str))
headway_df['ACTUAL_DEPARTURE_TIME'] = headway_df['DATE'] + pd.to_timedelta(headway_df['ACTUAL_DEPARTURE_TIME'].astype(str))

In [11]:
#Adjust day in timestamp for scheduled time column in cases past midnight
sched_count = 0
for index, row in headway_df.iterrows():
    if index == sched_day_change_index[sched_count]:
        month = row['DATE'].month
        day = row['DATE'].day
        if (month == 8 and day == 31) or (month == 9 and day == 30):
            month = month+1
            day = 1
        else:
            day = day+1
        headway_df.loc[index,'SCHEDULED_TIME']=row['SCHEDULED_TIME'].to_pydatetime().replace(month=month,day=day)
        sched_count = sched_count + 1
        if sched_count == len(sched_day_change_index):
            break

In [12]:
#Adjust day in timestamp for actual arrival time column in cases past midnight
arrival_count = 0
for index, row in headway_df.iterrows():
    if index == actual_arrival_day_change_index[arrival_count]:
        month = row['DATE'].month
        day = row['DATE'].day
        if (month == 8 and day == 31) or (month == 9 and day == 30):
            month = month+1
            day = 1
        else:
            day = day+1
        headway_df.loc[index,'ACTUAL_ARRIVAL_TIME']=row['ACTUAL_ARRIVAL_TIME'].to_pydatetime().replace(month=month,day=day)
        arrival_count = arrival_count + 1
        if arrival_count == len(actual_arrival_day_change_index):
            break

In [13]:
#Adjust day in timestamp for actual departure time column in cases past midnight
departure_count = 0
for index, row in headway_df.iterrows():
    if index == actual_departure_day_change_index[departure_count]:
        month = row['DATE'].month
        day = row['DATE'].day
        if (month == 8 and day == 31) or (month == 9 and day == 30):
            month = month+1
            day = 1
        else:
            day = day+1
        headway_df.loc[index,'ACTUAL_DEPARTURE_TIME']=row['ACTUAL_DEPARTURE_TIME'].to_pydatetime().replace(month=month,day=day)
        departure_count = departure_count + 1
        if departure_count == len(actual_departure_day_change_index):
            break

In [14]:
headway_df.iloc[300000:300050,np.r_[3,15:18]]

,DATE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME
300000,2023-09-22,2023-09-22 06:52:00,2023-09-22 06:54:22,2023-09-22 06:54:22
300001,2023-09-22,2023-09-22 07:00:00,2023-09-22 07:03:27,2023-09-22 07:03:27
300002,2023-09-22,2023-09-22 07:15:00,2023-09-22 07:03:27,2023-09-22 07:14:05
300003,2023-09-22,2023-09-22 07:24:00,2023-09-22 07:23:46,2023-09-22 07:23:46
300004,2023-09-22,2023-09-22 07:34:00,2023-09-22 07:32:15,2023-09-22 07:32:15
300005,2023-09-22,2023-09-22 07:37:00,2023-09-22 07:32:15,2023-09-22 07:38:14
300006,2023-09-22,2023-09-22 07:51:00,2023-09-22 07:51:03,2023-09-22 07:51:03
300007,2023-09-22,2023-09-22 07:58:00,2023-09-22 08:01:39,2023-09-22 08:01:39
300008,2023-09-22,2023-09-22 08:07:00,2023-09-22 08:06:10,2023-09-22 08:06:10
300009,2023-09-22,2023-09-22 08:15:00,2023-09-22 08:06:10,2023-09-22 08:17:00
300010,2023-09-22,2023-09-22 08:21:00,2023-09-22 08:21:39,2023-09-22 08:21:39
300011,2023-09-22,2023-09-22 08:28:00,2023-09-22 08:28:29,2023-09-22 08:28:29
300012,2023-09-22,2023-09-22 08:36:00,2023-09-22 08:36:42,2023-09-22 08:36:42
300013,2023-09-22,2023-09-22 08:51:00,2023-09-22 08:36:42,2023-09-22 08:51:35
300014,2023-09-22,2023-09-22 09:00:00,2023-09-22 09:03:08,2023-09-22 09:03:08
300015,2023-09-22,2023-09-22 09:10:00,2023-09-22 09:11:34,2023-09-22 09:11:34
300016,2023-09-22,2023-09-22 09:13:00,2023-09-22 09:11:34,2023-09-22 09:16:03
300017,2023-09-22,2023-09-22 09:26:00,2023-09-22 09:26:42,2023-09-22 09:26:42
300018,2023-09-22,2023-09-22 09:33:00,2023-09-22 09:32:32,2023-09-22 09:32:32
300019,2023-09-22,2023-09-22 09:42:00,2023-09-22 09:36:22,2023-09-22 09:36:22
300020,2023-09-22,2023-09-22 09:51:00,2023-09-22 09:36:22,2023-09-22 09:51:52
300021,2023-09-22,2023-09-22 09:57:00,2023-09-22 09:55:54,2023-09-22 09:55:54
300022,2023-09-22,2023-09-22 10:04:00,2023-09-22 10:02:37,2023-09-22 10:02:37
300023,2023-09-22,2023-09-22 10:12:00,2023-09-22 10:10:34,2023-09-22 10:10:34
300024,2023-09-22,2023-09-22 10:27:00,2023-09-22 10:10:34,2023-09-22 10:26:10
300025,2023-09-22,2023-09-22 10:36:00,2023-09-22 10:36:46,2023-09-22 10:36:46
300026,2023-09-22,2023-09-22 10:46:00,2023-09-22 10:43:58,2023-09-22 10:43:58
300027,2023-09-22,2023-09-22 10:49:00,2023-09-22 10:43:58,2023-09-22 10:52:30
300028,2023-09-22,2023-09-22 11:02:00,2023-09-22 11:01:22,2023-09-22 11:01:22
300029,2023-09-22,2023-09-22 11:09:00,2023-09-22 11:07:41,2023-09-22 11:07:41
300030,2023-09-22,2023-09-22 11:18:00,2023-09-22 11:14:02,2023-09-22 11:14:02
300031,2023-09-22,2023-09-22 11:27:00,2023-09-22 11:14:02,2023-09-22 11:28:50
300032,2023-09-22,2023-09-22 11:33:00,2023-09-22 11:32:17,2023-09-22 11:32:17
300033,2023-09-22,2023-09-22 11:40:00,2023-09-22 11:39:19,2023-09-22 11:39:19
300034,2023-09-22,2023-09-22 11:48:00,2023-09-22 11:47:52,2023-09-22 11:47:52
300035,2023-09-22,2023-09-22 12:03:00,2023-09-22 11:47:52,2023-09-22 12:02:41
300036,2023-09-22,2023-09-22 12:12:00,2023-09-22 12:13:21,2023-09-22 12:13:21
300037,2023-09-22,2023-09-22 12:22:00,2023-09-22 12:20:46,2023-09-22 12:20:46
300038,2023-09-22,2023-09-22 12:25:00,2023-09-22 12:20:46,2023-09-22 12:26:44
300039,2023-09-22,2023-09-22 12:38:00,2023-09-22 12:37:54,2023-09-22 12:37:54
300040,2023-09-22,2023-09-22 12:45:00,2023-09-22 12:44:19,2023-09-22 12:44:19
300041,2023-09-22,2023-09-22 12:54:00,2023-09-22 12:54:32,2023-09-22 12:54:32
300042,2023-09-22,2023-09-22 13:03:00,2023-09-22 12:54:32,2023-09-22 13:03:30
300043,2023-09-22,2023-09-22 13:09:00,2023-09-22 13:08:11,2023-09-22 13:08:11
300044,2023-09-22,2023-09-22 13:17:00,2023-09-22 13:17:37,2023-09-22 13:17:37
300045,2023-09-22,2023-09-22 13:25:00,2023-09-22 13:27:46,2023-09-22 13:27:46
300046,2023-09-22,2023-09-22 13:29:00,2023-09-22 13:27:46,2023-09-22 13:29:38
300047,2023-09-22,2023-09-22 13:38:00,2023-09-22 13:42:14,2023-09-22 13:42:14
300048,2023-09-22,2023-09-22 13:48:00,2023-09-22 13:51:49,2023-09-22 13:51:49
300049,2023-09-22,2023-09-22 14:01:00,2023-09-22 13:51:49,2023-09-22 14:01:19

In [15]:
type(headway_df['ACTUAL_ARRIVAL_TIME'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
headway_df['DATE'][0].to_pydatetime().date()

datetime.date(2023, 8, 1)

In [17]:
#Make arrival status column showing "early", "late", or "on time" status
headway_df['ARRIVAL_STATUS'] = ''
headway_df['ARRIVAL_STATUS']= np.where(headway_df['ADJUSTED_EARLY_COUNT']==1,'EARLY',headway_df['ARRIVAL_STATUS'])
headway_df['ARRIVAL_STATUS']= np.where(headway_df['ADJUSTED_LATE_COUNT']==1,'LATE',headway_df['ARRIVAL_STATUS'])
headway_df['ARRIVAL_STATUS']= np.where(headway_df['ADJUSTED_ONTIME_COUNT']==1,'ON TIME',headway_df['ARRIVAL_STATUS'])

In [18]:
#View top 50 rows columns 20 to end of the new df
headway_df.iloc[0:50,20:]

,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS,CORRECTED_TRIP_ID,ROUTE_NUMBER,ARRIVAL_STATUS
0,NaN,NaN,0,0,1,0,0.0,0,2,6.500000,2023-08-01 - 345104,22,ON TIME
1,NaN,NaN,0,0,1,0,0.0,0,9,0.000000,2023-08-01 - 345104,22,ON TIME
2,NaN,NaN,0,0,1,0,0.0,0,19,0.000000,2023-08-01 - 345104,22,ON TIME
3,NaN,NaN,0,0,1,0,NaN,0,35,0.000000,2023-08-01 - 345104,22,ON TIME
4,NaN,NaN,0,0,1,0,0.0,0,36,12.866666,2023-08-01 - 345105,22,ON TIME
5,NaN,NaN,0,0,1,0,0.0,0,51,0.000000,2023-08-01 - 345105,22,ON TIME
6,NaN,NaN,0,0,1,0,NaN,0,62,0.000000,2023-08-01 - 345105,22,ON TIME
7,37.666666,2.666666,0,0,1,0,0.0,0,63,13.216666,2023-08-01 - 345106,22,ON TIME
8,36.966666,1.966666,0,0,1,0,0.0,0,70,0.000000,2023-08-01 - 345106,22,ON TIME
9,14.516666,-0.483334,0,0,1,0,0.0,0,80,0.000000,2023-08-01 - 345106,22,ON TIME
10,NaN,NaN,0,0,1,0,NaN,0,96,0.000000,2023-08-01 - 345106,22,ON TIME
11,12.833333,-2.166667,0,0,1,0,0.0,0,97,10.800000,2023-08-01 - 345107,22,ON TIME
12,11.116666,-3.883334,1,0,0,0,0.0,0,112,0.000000,2023-08-01 - 345107,22,EARLY
13,NaN,NaN,0,0,1,0,NaN,0,123,0.000000,2023-08-01 - 345107,22,ON TIME
14,59.800000,-0.200000,0,0,1,0,0.0,0,124,12.533333,2023-08-01 - 345108,22,ON TIME
15,60.083333,0.083333,0,0,1,0,0.0,0,131,0.000000,2023-08-01 - 345108,22,ON TIME
16,17.716666,2.716666,0,0,1,0,0.0,0,141,0.000000,2023-08-01 - 345108,22,ON TIME
17,NaN,NaN,0,0,1,0,NaN,0,157,0.000000,2023-08-01 - 345108,22,ON TIME
18,15.233333,0.233333,0,0,1,0,0.0,0,158,10.916666,2023-08-01 - 345109,22,ON TIME
19,14.616666,-0.383334,0,0,1,0,0.0,0,173,0.000000,2023-08-01 - 345109,22,ON TIME
20,NaN,NaN,0,0,1,0,0.0,0,180,0.000000,2023-08-01 - 345109,22,ON TIME
21,NaN,NaN,0,0,1,0,NaN,0,187,0.000000,2023-08-01 - 345109,22,ON TIME
22,62.733333,-0.266667,0,0,1,0,0.0,0,188,12.250000,2023-08-01 - 345110,22,ON TIME
23,16.000000,1.000000,0,0,1,0,0.0,0,204,0.000000,2023-08-01 - 345110,22,ON TIME
24,NaN,NaN,0,0,1,0,NaN,0,220,0.000000,2023-08-01 - 345110,22,ON TIME
25,14.833333,-0.166667,0,0,1,0,0.0,0,221,12.500000,2023-08-01 - 345111,22,ON TIME
26,14.850000,-0.150000,0,0,1,0,0.0,0,236,0.000000,2023-08-01 - 345111,22,ON TIME
27,NaN,NaN,0,0,1,0,NaN,0,247,0.000000,2023-08-01 - 345111,22,ON TIME
28,61.350000,1.350000,0,0,1,0,0.0,0,248,10.966666,2023-08-01 - 345112,22,ON TIME
29,15.183333,0.183333,0,0,1,0,0.0,0,264,0.000000,2023-08-01 - 345112,22,ON TIME
30,NaN,NaN,0,0,1,0,NaN,0,280,0.000000,2023-08-01 - 345112,22,ON TIME
31,14.600000,-0.400000,0,0,1,0,0.0,0,281,10.883333,2023-08-01 - 345113,22,ON TIME
32,10.483333,-5.516667,1,0,0,0,0.0,0,296,0.000000,2023-08-01 - 345113,22,EARLY
33,NaN,NaN,0,0,1,0,NaN,0,307,0.000000,2023-08-01 - 345113,22,ON TIME
34,55.100000,0.100000,0,0,1,0,0.0,0,308,8.866666,2023-08-01 - 345114,22,ON TIME
35,11.316666,-0.683334,0,0,1,0,0.0,0,324,0.000000,2023-08-01 - 345114,22,ON TIME
36,NaN,NaN,0,0,1,0,NaN,0,340,0.000000,2023-08-01 - 345114,22,ON TIME
37,10.333333,-1.666667,0,0,1,0,0.0,0,341,11.716666,2023-08-01 - 345115,22,ON TIME
38,8.850000,-3.150000,1,0,0,0,0.0,0,356,0.000000,2023-08-01 - 345115,22,EARLY
39,NaN,NaN,0,0,0,0,NaN,0,362,NaN,2023-08-01 - 345115,22,
40,NaN,NaN,0,0,0,0,0.0,0,363,NaN,2023-08-01 - 345116,22,
41,49.500000,-0.500000,0,0,1,0,0.0,0,379,0.000000,2023-08-01 - 345116,22,ON TIME
42,49.966666,-0.033334,0,0,1,1,1.0,0,387,0.000000,2023-08-01 - 345116,22,ON TIME
43,11.133333,-0.866667,0,0,1,0,0.0,0,399,0.000000,2023-08-01 - 345116,22,ON TIME
44,NaN,NaN,0,0,1,0,NaN,0,415,0.000000,2023-08-01 - 345116,22,ON TIME
45,8.633333,-3.366667,0,0,1,0,0.0,0,416,16.000000,2023-08-01 - 345117,22,ON TIME
46,9.283333,-3.716667,0,0,1,0,0.0,0,431,0.000000,2023-08-01 - 345117,22,ON TIME
47,NaN,NaN,0,0,1,0,NaN,0,442,0.000000,2023-08-01 - 345117,22,ON TIME
48,47.166666,-2.833334,0,0,1,0,0.0,0,443,17.050000,2023-08-01 - 345119,22,ON TIME
49,13.433333,1.433333,0,0,1,0,0.0,0,459,0.000000,2023-08-01 - 345119,22,ON TIME

In [19]:
#Count of unique values in final corrected columns
headway_df.nunique()

CALENDAR_ID                      61
SERVICE_ABBR                      3
ADHERENCE_ID                 350328
DATE                             61
ROUTE_ABBR                        8
BLOCK_ABBR                      102
OPERATOR                        341
TRIP_ID                        3987
OVERLOAD_ID                       5
ROUTE_DIRECTION_NAME              2
TIME_POINT_ABBR                  61
ROUTE_STOP_SEQUENCE              17
TRIP_EDGE                         3
LATITUDE                         74
LONGITUDE                        73
SCHEDULED_TIME                70792
ACTUAL_ARRIVAL_TIME          272152
ACTUAL_DEPARTURE_TIME        323087
ADHERENCE                      3765
SCHEDULED_HDWY                   70
ACTUAL_HDWY                    4974
HDWY_DEV                       4217
ADJUSTED_EARLY_COUNT              2
ADJUSTED_LATE_COUNT               2
ADJUSTED_ONTIME_COUNT             2
STOP_CANCELLED                    2
PREV_SCHED_STOP_CANCELLED         2
IS_RELIEF                         2
BLOCK_STOP_ORDER                991
DWELL_IN_MINS                  3036
CORRECTED_TRIP_ID             67370
ROUTE_NUMBER                      8
ARRIVAL_STATUS                    4
dtype: int64

In [20]:
#Make new csv with edited data, including datetime scheduled time / actual arrival / actual departure columns
from pathlib import Path  
filepath = Path('../Data/headway_data_with_datetimes.csv')   
headway_df.to_csv(filepath,index=False)

In [21]:
# scheduled time / actual arrival / actual departure columns are pandas._libs.tslibs.timestamps.Timestamp columns
# Pandas does not allow changing the data type of these columns to datetime. Use .to_pydatetime() during any analysis with these columns.
type(headway_df['SCHEDULED_TIME'][0])

pandas._libs.tslibs.timestamps.Timestamp